.MetricSelect {
    width: 200px;
    margin: 15px;
}

.MetricSelectContainer {
    display: flex;
    flex-direction: column;
}

.Application button {
    width: 100px;
    margin: 15px;
}

.Application {
    padding-top: 100px;
    padding-left: 100px;
}

.Application > div {
    display: flex;
    flex-direction: column;
}

tr:nth-child(even) {
    background-color: lightgray;
    padding: 5px;
}

th {
    background-color: lightgray;
    padding: 5px;
}